.container{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.inputSearch{
    border: 2px solid red;
    border-right: transparent;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: darkred;
    color: whitesmoke;
    font-size: medium;
    font-weight: bolder;
    padding: 8px;
    outline: none;    
    width: 251px;
}

.sendSearch{
    border: 2px solid red;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: darkred;
    color: whitesmoke;
    font-size: medium;
    font-weight: bolder;
    padding: 8px;    
}

.inputSearch:focus{
    border: 2px solid tomato;
}

.buttonSort{
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 20px;
    border: 2px solid red;
    background-color: darkred;
    color: whitesmoke;
    font-weight: bolder;
    font-size: medium;
    
}

@media (max-width: 560px) {    

    .buttonSort{
        width: 90%;
        height: 50px;
    }

}

